@use "partials/reset" as *;
@use "partials/variables" as *;
@use "partials/mixins" as *;

header {
    background-color: $header-bg;
    padding: 20px 0;

    .container {
        max-width: $main-container;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        nav ul > * {
            display: inline-block;
        }
    }    
}


main {
    background-color: $main-gb;
    color: $main-txt;

    .container {
        max-width: $main-container;
        margin: auto;
        padding: 50px 0;
    }
}

section {
    background-color: $nav-bg;

    nav {
        max-width: $main-container;
        margin: auto;
        padding: 50px 20px;
    }

    ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
    }

    .buy {
        width: 75px;
        height: 75px;
    }

    a {
        display: flex;
        align-items: center;
    }

    .buy > img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

footer {
    background-image: url('/src/assets/img/footer-bg.jpg');
    background-size: cover;

    .footer-top {
        width: $main-container;
        margin: auto;
        display: flex;
        justify-content: space-between;
        padding: 50px 0;
    }

    h3 {
        margin-top: 15px;
        margin-bottom: 15px;
        color: $main-txt;
    }

    li {
        margin-bottom: 5px;
        color: $links-cl;
    }

    .links {
        display: flex;
    }

    .links ul {
        list-style: none;
    }

    .col-1, .col-2, .col-3 {
        margin-right: 20px;
    }
}